
<div class="bg">
    <img style="width: 100%; height: 100%; position: absolute;" src="../../../assets/img/bg-0.png">
    <div class="animate__animated animate__fadeInDown">
        <div class="row" style="text-align: center;">
            <!-- <img style="position: absolute; float: right; z-index: 1;" src="../../../assets/img/cherry.png"> -->
            <div class="col-12">
                <img style="width: 30%;" src="../../../assets/img/logo.png">
            </div>
            <div class="col-12" style="margin-bottom: 3%;">
                <label class="txt" style="color: white; font-weight: 700; font-size: 30px;">¡  P R O X I M A M E N T E  !</label>
            </div>
        </div>
        <div class="row" style="padding-left: 25%; padding-right: 25%;">
            <div class="col-md-3 col-sm-6 col-xs-6" style="text-align: center;">
                <img style="width: 100%;" src="../../../assets/img/c.png">
                <label class="num txt">{{day}}</label>
                <label class="title txt">Dias</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6" style="text-align: center;">
                <img style="width: 100%;" src="../../../assets/img/c.png">
                <label class="num txt">{{hours}}</label>
                <label class="title txt">Horas</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6" style="text-align: center;">
                <img style="width: 100%;" src="../../../assets/img/c.png">
                <label class="num txt">{{minutes}}</label>
                <label class="title txt">Minutos</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6" style="text-align: center;">
                <img style="width: 100%;" src="../../../assets/img/c.png">
                <label class="num txt">{{seconds}}</label>
                <label class="title txt">Segundos</label>
            </div>
        </div>
    </div>
</div>

